* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(43, 68, 68);
}

.header {
    width: 100%;
    padding: 10px;
    height: 60px;
    background-color: rgb(22, 35, 35);
}

.header-content {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
}

#login {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: auto;
}

.main {
    max-width: 1600px;
    margin: 15px auto;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}

.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    margin: 3% auto 0 auto;
    position: relative;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

#closeModal {
    color: #000;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: #0ff;
    text-decoration: none;
    cursor: pointer;
}

#scrollToTopCtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 10%;
}

#scrollToTopCtn:hover {
    color: #0ff;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
