<div class="header-content">
    <h3 style="color: #fff;">
        Kỏny by khapro
    </h3>

    <div class="navigator">
        <a href="/fanpage">Fanpage</a>
        <a href="/instagram">Instagram</a>
        <% if(user){ %>
            <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
                <% } %>

    </div>
</div>