<div class="header-content">
    Kỏny by khapro

    <div class="navigator">
        <a href="/fanpage">Fanpage</a>
        <a href="/instagram">Instagram</a>
        <% if(user){ %>
            <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
                <% } %>

    </div>
</div>